input[name$='exam_name']{
    width: 400px;
    height: 30px;
}
input[name$='exam_code']{
    width:100px ;
}
input[name$='exam_duration']{
    width:100px ;
}
input[name$='exam_no_questions']{
    width:100px ;
}
input[name$='exam_cut_of_mark']{
    width:100px ;
}
select[name$='exam_level']{
    width:100px ;
}
a {
    color: #f8f9fa;
    text-decoration: none;
    background-color: transparent;
}
