{% extends "onlineexamapp/base.html" %}
{% block body_block %}
<form>
    {% csrf_token %}
    <div class="table-responsive">
        <label class="control-label">Question</label>
        <input type="text" id="questioninfo" name="question"/>
        <label class="control-label">Level</label>
        <input type="text" id="levelinfo" name="level"/>
        <label class="control-label">Question Subject</label>
        <input class="control-label" id="q_subjectinfo" name="q_subject"/>
        <input type="submit" value="Search" id="questionget"/>
        <table class="table table-striped table-bordered table-sm" id="questionlist">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Level</th>
                    <th>Type</th>
                    <th>QuestionSubject</th>
                    <th>Edit</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for item in page_obj %}
                <tr>
                    <td>{{item.question}}</td>
                    <td>{{item.question_difficulty_level}}</td>
                    <td>{{item.question_type}}</td>
                    <td>{{item.question_subject}}</td>
                    <td>
                        <a href="{% url 'question_edit' questionid=item.question_id %}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?{%if Question%}Question={{Question}}&{%endif%}{%if Level%}Level={{Level}}&{%endif%}{%if Q_Subject%}Q_Subject={{Q_Subject}}&{%endif%}page=1">first</a>
                <a href="?{%if Question%}Question={{Question}}&{%endif%}{%if Level%}Level={{Level}}&{%endif%}{%if Q_Subject%}Q_Subject={{Q_Subject}}&{%endif%}page={{page_obj.previous_page_number}}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                </span>
                {% if page_obj.has_next %}
                <a href="?{%if Question%}Question={{Question}}&{%endif%}{%if Level%}Level={{Level}}&{%endif%}{%if Q_Subject%}Q_Subject={{Q_Subject}}&{%endif%}page={{page_obj.next_page_number}}">next</a>
                <a href="{%if Question%}Question={{Question}}&{%endif%}{%if Level%}Level={{Level}}&{%endif%}{%if Q_Subject%}Q_Subject={{Q_Subject}}&{%endif%}page={{page_obj.paginator.num_pages}}">last</a>
                {% endif %}
            </span>
        </div>

    </div>
</form>
{% endblock %}